@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  /* background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  ); */
  background-color: rgb(11, 11, 11);
}

.homePage{
  background-color: rgb(11, 11, 11);
}

.card-c{
  background: #0b0b0b;
    border: 2px solid #1b1e25;
}

.fund-img{
  padding: 1rem;
  border-radius: 25px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

.crptoMate{
width: 37%;
border: 2px solid rgb(11, 11, 11);
border-radius: 16px;
}

.crptoMate{
  margin-left: 30%;
}

@media (max-width:650px){

  .crptoMate{
    width: 100%;
  margin-left: 0;
    }
}